<link rel="stylesheet" href="style.css" />
<link rel="stylesheet" href="home-style.css" />
<title>Homepage</title>
<%- include('navbar') %>
<main>
	<ul>
		<% messages.forEach( (message) => { %>
		<li>
			<h3>
				<% if(membership === 'member') {%> <%= message.username %> <% }
				else { %> Black Hoodie Member <% } %>
			</h3>
			<h3><%= message.title %></h3>
			<p>
				<% if(membership === 'member') {%> <%= message.date %> <% } else
				{ %> Sine Die <% } %>
			</p>
			<p><%= message.text %></p>
		</li>
		<% }); %>
	</ul>
</main>
<%- include('footer') %>
